header {
   text-align: center;
   background: rgb(240, 175, 0);
   font-size: 140%;
   color: white;
   padding: 5px;
   font-family: 'Raleway', sans-serif;
   border: 4px solid black;
   border-radius: 25px;
}

body {
   background: #333333;
}

ul {
   padding: 10px;
   background: rgba(0, 0, 0, 0.3);
   margin: -15px auto 0 auto;
   width: 500px;
}

li {
   display: inline;
   padding: 0 10px;
   margin: -20px 0;
   text-align: center;
}

.navbar {
   text-align: center;
}

.footer {
   width: 200px;
   margin: 10px auto;
   line-height: 26px;
   border: 4px solid black;
   background: white;   
   font-family: 'Just Another Hand', cursive;
   font-size: 22px;
}

.equalHousing {
   height: 50px;
   float: right;
   margin: -45px 15px 0 0;
}

.handwritten {
   font-family: 'Architects Daughter', cursive;
   margin-top: 0;
}

.holder {
   margin: 5px auto;
   width: 450px;
   height: 250px;
   font-family: Georgia;
   border: 2px solid white;
   background: black;
}

.resize {
   height: 200px;
   margin: 23px 5px 23px 5px;
   border: 4px solid white;
   border-radius: 50%;
   float: left;
}

.logo {
   height: 110px;
   position: absolute;
   top: 0;
   left: 0;
}

span.textRight {
  padding: -10px 10px;
}

span.font80 {
  display: block;
  font-size: .7em;
}

span.smallText {
   font-size: .8em;
}
h2 {
   margin-top: -25px;
}

h3 {
   color: black;
   background: rgb(240, 175, 0);
   padding: 10px 0;
   margin: 0px 0 5px 0;
   font-size: 1.4em;
}

a {
   text-decoration: none;
   color: #B0B0B0;
}
a:hover {
   color: #FFFFFF;
}
a:visited {
   color: #904000;
}


.OutlineText {
    
    text-shadow:
    /* Outline */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000; /* Terminate with a semi-colon */
}

@media (max-width: 1100px) {
   .holder {
      width: 99%;
      height: 300px;
      border: 4px solid white;
      border-radius: 0 0 30px 30px;
   }
   
   h1 {
      font-size: 220%; 
   }
   h2 {
      font-size: 120%;
   }

   h3 {
      font-size: 2.5em;
      padding: 15px 0;
   }
   
   .handwritten {
      font-size: 180%;
      position: relative;
      z-index: 4;
   }

   .resize {
      height: 250px;
      margin: 23px 15px 23px 10px;
      
   }
   span.font80 {
      display: inline;
   }

   .logo {
      height: 160px;
      position: absolute;
      top: 290px;
      left: 540px;
      z-index: 0;
   }

}